/* index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Custom Styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  width: 100%;
}

button {
  cursor: pointer;
}

.min-h-screen {
  min-height: 100vh;
}

.bg-[#e7e9ef] {
  background-color: #e7e9ef;
}

.dark\:bg-zinc-900 {
  background-color: #1a202c;
}

.text-[#066aff] {
  color: #066aff;
}